body {
    color: black;
    blackground: pink;
    margin: opx;

    }

    header {
        border: sold 2px rgb(160, 32, 240);
        padding: 10px;
        font-size:32px;
        color:rgb (160, 32, 240);

    




        
